.source-box {
  height: 220px;
  overflow-y: auto;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  font-size: 18px;
  line-height: 1.8;
}

.text-line {
  margin-bottom: 10px;
}

.correct {
  color: green;
}

.wrong {
  color: red;
  text-decoration: underline;
}

