.source-box {
  height: 220px;
  overflow-y: auto;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  font-size: 18px;
  line-height: 1.8;
}

.text-line {
  margin-bottom: 10px;
}

.correct {
  color: green;
}

.wrong {
  color: red;
  text-decoration: underline;
}
/* .source-line {
  white-space: pre-wrap;
} */

.source-box {
  height: 220px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 18px;
  line-height: 1.8;
  padding: 15px;
  border-radius: 12px;
}


#typing-area {
  height: 160px;
  font-size: 18px;
  line-height: 1.8;
  white-space: pre-wrap;
  overflow-y: auto;
}

