{% extends 'typingapp/base.html' %}

{% block title %}Log In{% endblock %}
{% block content %}
<div class="form-container">
  <h2 align="center">Log In to Your Account</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button style="background-color:violet" type="submit" class="btn-primary">Log In</button>
  </form>
  <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset here</a>.</p>
  <p>Don’t have an account? <a href="{% url 'signup' %}">Sign up now</a>.</p>
</div>
{% endblock %}
